numpy==1.24.3
pandas==2.2.2
protobuf==4.25.4
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
pillow==10.4.0
wordcloud
uszipcode